/* Contenedor principal del carrusel */
.carousel-container {
  position: relative;
  margin-top: 180px;
}

/* Estilos para los banners de PC y móvil */
.pc-banner, .mobile-banner {
  display: none;
}

/* Estilos para el contenido del carrusel */
.carousel-content {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 80px);
  object-fit: cover;
}

/* Estilos para el texto del carrusel */
.carousel-text {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
  color: white;
  text-align: left;
  width: 50%;
  max-width: 600px;
  padding: 10px;
}

/* Estilos para el título del carrusel */
.carousel-title {
  font-family: 'Arial', sans-serif;
  font-size: 4vw;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Estilos para el subtítulo del carrusel */
.carousel-subtitle {
  font-family: 'Arial', sans-serif;
  font-size: 11vw;
  font-weight: 900;
  color: rgb(233, 19, 19);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Estilos para la descripción del carrusel */
.carousel-description {
  font-family: 'Arial', sans-serif;
  font-size: 1.8vw;
  color: white;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Estilos para los iconos de redes sociales */
.social-media-icons {
  display: flex;
  margin-left: 25%;
  gap: 15px;
}

.social-media-icons a {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-media-icons a:hover {
  background-color: white;
}

.custom-icon {
  font-size: 34px;
  color: white;
  transition: all 0.3s ease;
}

.social-media-icons a:hover .custom-icon {
  color: #e60707;
}

/* Media queries para responsividad */
@media (min-width: 769px) {
  .pc-banner {
    display: block;
  }

}

@media (max-width: 768px) {
  .mobile-banner {
    display: block;
  }
  .social-media-icons  {
    margin-left: 0%;
  }

  
  .carousel-title {
    font-size: 6vw;
  }
  
  .carousel-subtitle {
    font-size: 11vw;
  }
  
  .carousel-description {
    font-size: 3.5vw;
  }
  
  .social-media-icons a {
    width: 40px;
    height: 40px;

  }
  
  .custom-icon {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .carousel-title {
    font-size: 7vw;
  }
  
  .carousel-subtitle {
    font-size: 11vw;
  }
  
  .carousel-description {
    font-size: 4vw;
  }
  
  .social-media-icons a {
    width: 35px;
    height: 35px;
  }
  
  .custom-icon {
    font-size: 18px;
  }
}

/* Ajuste específico para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
  .carousel-container {
    margin-top: 100px;
  }
  
  .carousel-title {
    font-size: 5vw;
  }
  
  .carousel-subtitle {
    font-size: 11vw;
  }
  
  .carousel-description {
    font-size: 2.5vw;
  }
  
  .social-media-icons a {
    width: 45px;
    height: 45px;
  }
  
  .custom-icon {
    font-size: 22px;
  }
}
