.container {
padding-bottom: 5%;
margin-top: 25px;
}

.custom-section {
  max-width: 1200px;
  margin: 0 auto;
}

.custom-image-col {
  text-align: center;
}

.custom-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 60px;
  height: 40px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}

.thumbnail.active {
  border-color: #ff7f50;
}

.custom-text-container {
  padding: 20px;
}

.title {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.custom-description {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 20px;
}

.custom-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.custom-button {
  background: #353636;
  border: 0px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.custom-button.active,
.custom-button:hover {
  background-color: #ec3b58;

}

.custom-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-card {
  background-color: #ec3b58;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-card-title {
  color: #ff7f50;
  font-size: 1.5rem;
}

.custom-card p {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 10px;
}
