/* Estilos generales */
.contenedor {
  padding-bottom: 5%;
  background-color: #1a1a1a;
}

.seccion-personalizada {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos de la columna de imagen */
.columna-imagen-personalizada {
  text-align: center;
}

.imagen-personalizada {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.contenedor-miniaturas {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 28px;
}

.miniatura {
  width: 60px;
  height: 40px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}

.miniatura.activa {
  border-color: #ec3b58;
}

/* Estilos del contenedor de texto */
.contenedor-texto-personalizado {
  padding: 20px;
}

/* Estilos del título principal */
.contenedor-titulo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-flechas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flecha-izquierda,
.flecha-derecha {
  position: absolute;
  color: #ff6666;
  font-size: 24px;
  transform: translateY(-50%);
  margin: 0 10px;
}

.flecha-izquierda {
  left: 0;
}

.flecha-derecha {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.titulo-principal {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 40px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.texto-destacado {
  color: #ff3333;
}

/* Estilos de la descripción */
.descripcion-personalizada {
  text-align: justify;
  color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

/* Estilos de los botones */
.contenedor-botones-personalizado {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.boton-personalizado {
  background: #353636;
  border: 0px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.boton-personalizado.activo,
.boton-personalizado:hover {
  background-color: #ec3b58;
  color: white;
}

/* Estilos de las tarjetas */
.contenedor-tarjetas-personalizado {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tarjeta-personalizada {
  background-color: #ec3b58;
  padding: 10px;
  border-radius: 10px;
}

.titulo-tarjeta-personalizada {
  color: rgb(255, 255, 255);
  font-family: 'Teko', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.parrafo-tarjeta-personalizada {
  text-align: justify;
  color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 0;
}
.marcas-carousel {
  overflow: hidden;
  width: 100%;
  background: #1a1a1a;
  padding: 8px 0;
  margin-bottom: 60px;
}

.marcas-track {
  display: flex;
  width: 200%;
  animation: scroll 40s linear infinite;
}

.marcas-slide {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.marcas-slide img {
  height: 50px;
  object-fit: contain;
  max-width: 18%; /* Ajusta este valor según sea necesario */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .marcas-track {
    animation: scroll 20s linear infinite;
  }
  .marcas-carousel {

    margin-bottom: 10px;
  }
  .titulo-principal {
    font-size: 37px;
  }
  
  .marcas-slide img {
    height: 30px;
    max-width: 15%; /* Reduce el ancho máximo en móviles */
  }
}

/* Para pantallas muy pequeñas */
@media (max-width: 480px) {
  .marcas-slide img {
    max-width: 20%; /* Ajusta según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
}