.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .comments-section, .video-section, .brands-section {
    padding: 8px 16px;
  }
  
  
  .comment, .brand {
  
    margin-bottom: 10px;
  }
  
  .comment:last-child, .brand:last-child {
    margin-bottom: 0;
  }
  
  .comment {
    margin-bottom: 10px;
  }
  
  .comment:last-child {
    margin-bottom: 0;
  }
  
  .brand {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .brand:last-child {
    margin-bottom: 0;
  }
  .Content{
    background-color: blueviolet;
  }
  /* App.css */

.content-container {
  
    justify-content: center;
   
  }
  

  .about-us-container {
    padding: 20px;
    background-color: #f0f2f500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about-title {
    margin-bottom: 16px;
  }
  
  .about-description {
    font-size: 16px;
    max-width: 800px;
    margin-bottom: 32px;
  }
  
  .about-cards-container {
    width: 100%;
    max-width: 800px;
  }
  
  .about-card {
    background-color: #ee5555;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: left;
  }
  
  .about-card .ant-card-head-title {
    color: #fff;
  }
  
  .custom-tabs {
    background-color: #1f1f1f;
    padding-top: 20px; /* Separación de las cards de arriba */
  }
  
  .custom-tabs .ant-tabs-nav {
    margin-bottom: 0 !important;
  }
  
  .custom-tabs .ant-tabs-nav::before {
    border-bottom: none !important;
  }
  
  .custom-tabs .ant-tabs-tab {
    background-color: transparent !important;
    border: 1px solid #555555 !important; /* Borde gris claro */
    border-radius: 20px !important;
    margin: 10px !important;
    padding: 5px 20px !important;
    transition: all 0.3s ease !important;
  }
  
  .custom-tabs .ant-tabs-tab-btn {
    color: #999999 !important; /* Texto gris claro */
    font-weight: 400 !important;
    font-size: 14px !important;
  }
  
  .custom-tabs .ant-tabs-tab:hover {
    background-color: rgba(255, 255, 255, 0.1) !important; /* Fondo ligeramente claro al hover */
    border-color: #777777 !important;
  }
  
  .custom-tabs .ant-tabs-tab.ant-tabs-tab-active {
    background-color: rgba(255, 255, 255, 0.15) !important; /* Fondo ligeramente más claro para el tab activo */
    border-color: #999999 !important;
  }
  
  .custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff !important; /* Texto blanco para el tab activo */
  }
  
  .custom-tabs .ant-tabs-ink-bar {
    background-color: transparent !important;
  }
  
  .custom-tabs .ant-tabs-content-holder {
    background-color: transparent !important;
    padding: 20px 0 !important;
  }